# OS
.DS_Store

# Env
.env
.env.dev
.env.uat
.env.prod
.keytool

# Java
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Python
ai-service/.venv/
ai-service/__pycache__/
ai-service/.pytest_cache/

# Flutter/Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock

# IDE
.vscode/
.idea/

# Android Signing
mobile/android/key.properties
mobile/android/app/keystores/
mobile/android/app/google-services.json
